<h1>{{finished? "GOTOVO": "NIJE GOTOVO"}}  <span *ngIf="noPath">NE POSTOJI RUTA</span></h1>
<h2>Mode: {{mode}}</h2>
<button (click) = "markSideNodes()">getSides</button>
<button (click) = "getNext()">NEXT</button>
<button (click) = "getFinalPath()">FINISH</button>
<button (click) = "nextIteration()">ALL NEXT</button>
<button (click) = "debugMode = !debugMode">DEBUG MODE</button>
<button (click) = "populateWidthAndHeight()">INIT NODES</button>
<button (click) = "startPathfinding()">START</button>
<button (click) = "reset()">RESET</button>
<button (click) = "determineDirectionOfFinalPath()">Determine Direction</button>
<button (click) = "isSafePositionConnected(3,1)">GET NODES IN DIRECTION</button>
<button (click) = "getMinimalSafeLandingPosition()">GET MINIMAL</button>

<br>
<br>
<br>


<button style="background-color: green" (click) = "modeChoose('start')">START</button>
<button style="background-color: red" (click) = "modeChoose('end')">END MODE</button>
<button style="background-color: black" (click) = "modeChoose('obstacle')">OBSTACLE</button>
<button style="background-color: cornflowerblue" (click) = "modeChoose('mission')">DRONE MISSION MODE</button>






<div class="container">
  <div class="wrapper" *ngFor="let nodeY of y; let y = index">
    <div class="node x" *ngFor="let nodeX of x; let x = index" 
    [ngClass]="{'current': isCurrent(x, y), 
    'in-opened': isInOpenedList(x, y) !== -1, 
    'in-closed': isInClosedList(x, y) !== -1,
    'is-start': isStart(x, y),
    'is-end': isEnd(x, y),
    'is-in-final-path': isInFinal(x, y) !== -1,
    'no-walk': isNoWalkable(x, y) !== -1,
    'drone-mission': isInDronMissionPath(x, y) !== -1,
    'is-safe-home': isInSafeHome(x, y) !== -1
    }"
    (click)="selectNode(x, y)"
    >
      <!-- <p *ngIf="debugMode" class="F">f {{calculateF(x, y) !== -1? calculateF(x, y) : ''}}</p> --> 
       <p *ngIf="debugMode" class="cordinates">x {{x}} , y {{y}}</p>
      <p *ngIf="debugMode" class="H">h {{findH(x, y) !== -1? findH(x, y) : ''}}</p>
      <p *ngIf="debugMode" class="G">g {{findG(x, y) !== -1? findG(x, y) : ''}}</p>
      <p *ngIf="debugMode" class="G">S: {{getDirectionDronePath(x, y)}}</p>

    </div>
  </div>
</div>

<!-- {{noWalkableList | json}} -->
<p>{{droneMissionPath | json}}</p>
<br>
<p>{{noWalkableList | json}}</p>


<!-- 
  F: Ukupni poeni noda (H+G);
  G: Poeni od pocetka do 'trenutne' kocke;
  H: Procenjena udaljenost do cilja
 -->