.container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  .wrapper {
    display: flex;
    width: 100%;
    .node {
      width: 65px;
      height: 65px;
      background-color: white;
      border: 2px solid #000;
      border-radius: 10px;
      margin: 5px;
      display: flex;
      color: #000;
      flex-wrap: wrap;
      .cordinates {
        width: 50%;
        height: 50%;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .H {
        color: white;
        @extend .cordinates;
      }
      .F {
        color: green;
        @extend .cordinates;
      }
      .G {
        color: blue;
        @extend .cordinates;
      }

      &.current {
        border-color: cyan;
      }

      &.in-opened {
        background-color: #2ecc71;
      }

      &.in-closed {
        background-color: red;
      }

      &.is-start {
        background-color: rgba(46, 204, 113, 0.3);
      }

      &.is-end {
        background-color: rgba(231, 77, 60, 0.3);
      }

      &.is-in-final-path {
        background-color: rgba(241, 196, 15, 0.9);
      }

      &.no-walk {
        background-color: #000;
        color: #fff;
      }

      &.drone-mission{
        background-color: rgba(52, 152, 219,1.0)
      }

      &.is-safe-home{
        border-color:rgba(241, 196, 15,1.0);

      }
    }
  }
}

span{
  color: red;
}
